<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="93cca4">  <td>19/02/13 16:32:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest1.beforeMethod()[pri:0, instance:testabc.testabc.NewTest1@77ec78b9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@278934944</td>   <td></td> </tr>
<tr bgcolor="93cca4">  <td>19/02/13 16:32:39</td>   <td>21331</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest1.f()[pri:0, instance:testabc.testabc.NewTest1@77ec78b9]">f</td> 
  <td>main@278934944</td>   <td></td> </tr>
<tr bgcolor="93cca4">  <td>19/02/13 16:32:54</td>   <td>36039</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest1.afterMethod()[pri:0, instance:testabc.testabc.NewTest1@77ec78b9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@278934944</td>   <td></td> </tr>
</table>
